*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
}
.naslovna{
    width: 100%;
    height: 91vh;
    background-image: url("slike/pozadina.jpeg");
    background-position: center;
    background-size: cover;
}
.osnovne_informacije{
    width: 100%;
    min-height: 250px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kartice{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}
.kartica{
    display: flex;
    flex-direction: row;
    width: 350px;
    height: 150px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    overflow: hidden;
}
.logo_kartica{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(213,228,156);
}
.sadrzaj_kartica{
    background-color: rgba(151,192,4,255);
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.logo_kartica img{
    width: 90%;
    height: 90%;
}
#lokacija{
    width: 75%;
    height: 75%;
}
.o_trci{
    background-color: #111111;
    width: 100%;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.o_trci img{
    position: absolute;
    left: 20px;
    bottom: 0px;
    height: 70%;
}
.o_trci_sadrzaj{
    width: 40%;
}
.o_trci_tekst p{
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.organizatori{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}
.ikone{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 20px;
}
.ikona{
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ikona img{
    height: 90%;
    width: 100%;
}
.button-18 {
    align-items: center;
    background-color: #0A66C2;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
  }
  
  .button-18:hover,
  .button-18:focus { 
    background-color: #16437E;
    color: #ffffff;
  }
  
  .button-18:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
  }
  
  .button-18:disabled { 
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
  }
 .footer_copyright{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 30px;
     width: 100%;
     background-color: #333536;
 }
 .footer_copyright p{
     margin-top: 10px;
    color: white;
 }
 .footer_info{
    background-color: #272626;
    min-height: 55vh;
    padding: 20px;   
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}
.logo2{
    height: 200px;
    width: 200px;
    padding: 10px;
}
.logo2 p{
    font-size: 50px;
}
.logo2 img{
    border-radius: 50%; 
    width: 100%;
    height: 100%;
}
.logo2 .fas{
    font-size: 50px;
    color: rgb(7, 137, 212);
}
.drugi{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.treci{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.adresa{
    margin-top: 20px;
}
.telefon{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}
.telefon1{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}
.telefon .fas{
    color: rgb(7, 137, 212);
    margin-right: 15px;
}
.telefon1 .fas{
    margin-right: 15px;
    color: rgb(7, 137, 212);
}
.mail{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}
.mail .far{
    margin-right: 15px;
    font-size: 25px;
    color: rgb(7, 137, 212);

}
.informacije p{
    color: white;
}
.zakazite_pregled{
    width: 25%;
}
.zakazite_pregled h2{
    color: white;
    margin-bottom: 20px;
}
.zakazite_pregled p{
    color: white;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}
@media only screen and (max-width: 600px) {
    
}
@media only screen and (max-width: 768px) {
    
}
@media only screen and (max-width: 992px) {
    
}
@media only screen and (max-width: 1200px) {
    
}

